/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Protocol Colors SCSS Variables v1.0.0 */

$color-black: #000000;
$color-primary: #000000;

$color-white: #ffffff;
$color-secondary: #ffffff;

$color-cyan-light: #00ffff;
$color-cyan: #00e5e5;
$color-cyan-dark: #00cccc;

$color-yellow-light: #fff63a;
$color-yellow: #e5dc34;
$color-yellow-dark: #ccc42e;

$color-red-light: #ff4d4e;
$color-red: #e54546;
$color-red-dark: #cc3d3e;

$color-green-light: #49ffbb;
$color-green: #41e5a7;
$color-green-dark: #3acc95;

$color-teal-light: #00a7a7;
$color-teal: #009696;
$color-teal-dark: #008484;

$color-purple-light: #cf2cfa;
$color-purple: #ba27e1;
$color-purple-dark: #a423c7;

$color-blue-light: #00a7e0;
$color-blue: #0096ca;
$color-blue-dark: #0084b2;

