/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Protocol Colors CSS Variables v1.0.0 */

:root {
  --black: #000000;
  --primary: #000000;

  --white: #ffffff;
  --secondary: #ffffff;

  --cyan-light: #00ffff;
  --cyan: #00e5e5;
  --cyan-dark: #00cccc;

  --yellow-light: #fff63a;
  --yellow: #e5dc34;
  --yellow-dark: #ccc42e;

  --red-light: #ff4d4e;
  --red: #e54546;
  --red-dark: #cc3d3e;

  --green-light: #49ffbb;
  --green: #41e5a7;
  --green-dark: #3acc95;

  --teal-light: #00a7a7;
  --teal: #009696;
  --teal-dark: #008484;

  --purple-light: #cf2cfa;
  --purple: #ba27e1;
  --purple-dark: #a423c7;

  --blue-light: #00a7e0;
  --blue: #0096ca;
  --blue-dark: #0084b2;

}
