/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Protocol Colors CSS Variables v1.1.1 */

:root {
  --black: #000000;
  --primary: #000000;

  --white: #ffffff;
  --secondary: #ffffff;

  --cyan-light: #a2ffff;
  --cyan: #00ffff;
  --cyan-dark: #00e5e5;

  --yellow-light: #fff9a3;
  --yellow: #fff44f;
  --yellow-dark: #f7e800;

  --red-light: #fe7c87;
  --red: #ff4f5e;
  --red-dark: #e53c4a;

  --green-light: #adffdf;
  --green: #54ffbd;
  --green-dark: #2ce69e;

  --teal-light: #25bcbc;
  --teal: #0f8f8f;
  --teal-dark: #005e5e;

  --purple-light: #9f54b2;
  --purple: #6e008b;
  --purple-dark: #4f0164;

  --blue-light: #539ee9;
  --link-hover-light: #539ee9;
  --blue: #2374c6;
  --link: #2374c6;
  --blue-dark: #00458b;
  --link-active-dark: #00458b;

  --gray-light: #e7e7e7;
  --gray: #c8c8c8;
  --gray-dark: #959595;

}
